@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* zm-draw styles */
.zm-draw-canvas-container {
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  overflow: hidden;
}
